.carousel-caption {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}
.fa-check {
    color: #03045e;
}
.fa-times {
    color: #FFA500;
}